# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Vite / build
dist/
.cache/
.temp/

# Env
.env
.env.*
!.env.example

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Tests/coverage
coverage/

# Logs
*.log
